.marginauto {
	margin: auto;
}
.fullwidth {
	width: 100%;
}
.ms-thumbs-cont {
	display: none;
}
.homeProductImg {
	border: solid 1px transparent !important;
	border-color: #ddd !important;
	padding: 10px;
}
.homeProductImg img {
	height: 223px !important;
    width: auto !important;
    display: inline-block !important;
}
.home_drop {
	list-style-type: none;
	padding: 22px;
}
.home_drop li a {
	color: black;
}
.no-record-found {
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
}
.no-pad-top {
	padding-top: 0px !important;
}
.view-contact {
	color: white;
    text-decoration: none;
}
.ms-slide {
	margin-top: 12px;
}
.view-img-border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.footer-content span, .footer-content strong, .footer-content a {
	color:#FFFFFF !important;
}