.marginauto {
	margin: auto;
}
.fullwidth {
	width: 100%;
}
.ms-thumbs-cont {
	display: none;
}
.homeProductImg {
	border: solid 1px transparent !important;
	border-color: #ddd !important;
	padding: 10px;
}
.homeProductImg img {
	height: 223px !important;
	object-fit: contain;
}
.offerProductImg {
	background-color: #FFF !important;
}
.offerProductImg img {
	height: 400px !important;
	object-fit: contain;
}
.home_drop {
	list-style-type: none;
	padding: 22px;
}
.home_drop li a {
	color: black;
}
.no-record-found {
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
}
.no-pad-top {
	padding-top: 0px !important;
}
.view-contact {
	color: white;
    text-decoration: none;
}
.ms-slide {
	margin-top: 12px;
}
.view-img-border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.footer-content span, .footer-content strong, .footer-content a {
	color:#FFFFFF !important;
}
.required-field {
	color: red !important;
}
.nav-link {
   color: #FFFF;
}
.js-carousel .slick-arrow {
	background-color: #e74c3c !important;
}
.js-carousel .slick-arrow::before {
	color: #FFFF;
}
.page-link {
	background-color: #e74c3c !important;
    color: #FFFF !important;
}
.scroll-top {
	background-color: #e74c3c !important;
    color: #FFFF !important;
}